{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
<h2>Create a User</h2>
<form method="POST" action="/register"> 
    {{ form.hidden_tag() }} <!-- This includes the CSRF token - don't forget this - was very important-->
    <div class="form-group">
        <label for="username">Username</label>
        {{ form.username(class="form-control", id="username") }} 
    </div>
    <div class="form-group">
        <label for="first_name">First Name</label>
        {{ form.first_name(class="form-control", id="first_name") }} 
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        {{ form.last_name(class="form-control", id="last_name") }} 
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        {{ form.email(class="form-control", id="email") }} 
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        {{ form.password(class="form-control", id="password") }} <!-- Add password field with hidden input -->
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}

