{% extends "base.html" %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}'s Profile</h1>
<p>Email: {{ user.email }}</p>

<h2>Feedback</h2>
<ul>
    {% for feedback in feedback_list %}
        <li>
            <strong>{{ feedback.title }}</strong>
            
            <a href="{{ url_for('edit_feedback_form', feedback_id=feedback.id) }}">Edit</a>

               <!-- Delete form -->
               <form action="{{ url_for('delete_feedback', feedback_id=feedback.id) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>            
            </li>
    {% else %}
        <li>No feedback yet!</li>
    {% endfor %}
</ul>

<!-- Button to add feedback -->
<a href="{{ url_for('add_feedback_form', username=user.username) }}" class="btn btn-primary">Add Feedback</a>


<!-- Button to delete the user -->
<form action="{{ url_for('delete_user', username=user.username) }}" method="post">
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>
{% endblock %}